In [1]:
import pandas as pd

In [2]:
db = pd.read_csv('./indian_food.csv')

In [3]:
db.shape

(255, 9)

In [11]:
db.head(10)

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
5,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,West Bengal,East
6,Jalebi,"Maida, corn flour, baking soda, vinegar, curd,...",vegetarian,10,50,sweet,dessert,Uttar Pradesh,North
7,Kaju katli,"Cashews, ghee, cardamom, sugar",vegetarian,10,20,sweet,dessert,-1,-1
8,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,West Bengal,East
9,Kheer,"Milk, rice, sugar, dried fruits",vegetarian,10,40,sweet,dessert,-1,-1

In [6]:
db.tail()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

In [9]:
db.sample(5)

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
52,Sheer korma,"Vermicelli pudding, milk",vegetarian,10,20,sweet,dessert,Telangana,South
32,Rasabali,"Chenna, sweetened milk",vegetarian,15,30,sweet,dessert,Odisha,East
21,Chhena kheeri,"Chhena, sugar, milk",vegetarian,-1,60,sweet,dessert,Odisha,East
36,Adhirasam,"Rice flour, jaggery, ghee, vegetable oil, elachi",vegetarian,10,50,sweet,dessert,West Bengal,East
182,Dudhi halwa,"Bottle gourd, green, raisins, sugar, clarified...",vegetarian,15,30,sweet,dessert,Gujarat,West

In [12]:
db.describe()

        prep_time   cook_time
count  255.000000  255.000000
mean    31.105882   34.529412
std     72.554409   48.265650
min     -1.000000   -1.000000
25%     10.000000   20.000000
50%     10.000000   30.000000
75%     20.000000   40.000000
max    500.000000  720.000000

In [13]:
db.describe(include='all')

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
count,255,255,255,255.000000,255.000000,255,255,255,254
unique,255,252,2,NaN,NaN,5,4,25,7
top,Bhatura,"Chhena, sugar, ghee",vegetarian,NaN,NaN,spicy,main course,Gujarat,West
freq,1,2,226,NaN,NaN,133,129,35,74
mean,NaN,NaN,NaN,31.105882,34.529412,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,72.554409,48.265650,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,-1.000000,-1.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,10.000000,20.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,10.000000,30.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,20.000000,40.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,500.000000,720.000000,NaN,NaN,NaN,NaN

In [14]:
db['flavor_profile'].unique()

array(['sweet', 'spicy', 'bitter', '-1', 'sour'], dtype=object)

In [15]:
db['diet'].unique()

array(['vegetarian', 'non vegetarian'], dtype=object)

In [16]:
db['diet'].value_counts()

vegetarian        226
non vegetarian     29
Name: diet, dtype: int64

In [17]:
db['N']= 1

In [18]:
db.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,N
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East,1
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West,1
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North,1
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West,1
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East,1

In [19]:
db['dato']= 'si'

In [20]:
db.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,N,dato
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East,1,si
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West,1,si
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North,1,si
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West,1,si
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East,1,si

In [21]:
db['tiempo_preparacion'] = db['prep_time']+db['cook_time']

In [22]:
db.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,N,dato,tiempo_preparacion
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East,1,si,70
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West,1,si,110
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North,1,si,75
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West,1,si,45
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East,1,si,55